<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
        <customErrors mode="Off"/>     
    </system.web>


  <connectionStrings>
     <add name="DefaultConnection" connectionString="Data Source=82.166.189.73;Initial Catalog=cegroup10Db;Integrated Security=False;User ID=cegroup10;Password=cegroup10123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <!--\10.50.1600
   <add name="DefaultConnection" connectionString="    Data Source=DESKTOP-L3OV7JP\SQLEXPRESS;Initial Catalog=TopShop;Integrated Security=True" />
_-->
  </connectionStrings>
  
  
</configuration>
